<section class="hero is-medium is_danger">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        AJAX IN ACTION
      </h1>
      <%= link_to "New Book", new_book_path, id:"new_book", remote: true %>
      <hr>

      <div class="level">
        <div class="level-item">
        <% if @books.any? %>
          <div id="available">
            <h3>AVAILABLE</h3><br>
            <% @books.each do |book| %>
              <% if book.available == true %>
                <p><%= book.title %></p>
                <hr>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="level-item">
          <div>
            <h3>RECENTLY SOLD TITLES</h3><br>
            <% @books.each do |book| %>
            <% if book.available == false %>
            <p><%= book.title %></p>
            <hr>
            <% end %>
            <% end %>
          </div>
        <% end %>
        </div>

      </div>


    </div>
  </div>
</section>


<br>
<hr>
<br>
<section class="hero is-success is-large">
  <div class="hero-header">
    <h1>UNPARSED JSON FROM THE API CALL</h1>
  </div>
  <div class="hero-body">
    <%= @response %>
  </div>
</section>
