<section class="hero is-medium is_danger">
  <div class="hero-body">
    <div class="container">
      <div style="text-align:center;">
        <h1 class="title">
          AJAX IN ACTION
        </h1>

        <h3 style="margin: 0 auto;">
          <%= link_to "New Book", new_book_path, id:"new_book", remote: true %>
        </h3>
      </div>
      <hr>

      <div class="level">
        <div class="level-item">
          <div id="availible">
            <h3>AVAILABLE</h3>
            <hr>
            <%= render @available %>
          </div>
        </div>

        <div class="level-item">
          <div id="unavailable">
            <h3>RECENTLY SOLD</h3>
            <hr>
            <%= render @unavailable %>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<br>
<hr>
<br>
<section class="hero is-success is-large">
  <div class="hero-header">
    <h1>UNPARSED JSON FROM THE API CALL</h1>
  </div>
  <div class="hero-body">
    <%= @response %>
  </div>
</section>
